<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="upperTextContainer">
        <h1>Milano</h1>
    </div>
    

    <h2>Milano è una grande città situata nel nord Italia, famosa per il suo patrimonio culturale, architettonico e artistico, nonché per la moda e la cucina. È anche un importante centro commerciale e finanziario con un sistema di trasporto pubblico efficiente.</h2>
</body>
</html>